.header-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  position: sticky;
  // background-color:rgb(15, 14, 14);
  background-image: linear-gradient(to right,black, rgb(14, 13, 13));
  width: 100%;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    position: absolute;
  }
}

.header-name {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Montserrat',
  sans-serif;
  border-radius: 18px;
  z-index: 2;
  cursor: pointer;
}
.smile {
  font-size: 18px;
}

.logout-btn {
  font-family: 'Montserrat',
  sans-serif;
  color: white;
  background-color: grey;
  z-index: 1;
  opacity: 0.8;
  border-style: none;
}

.header-name:hover {
  background-color: rgb(73, 73, 73);
}

.hidden {
  display: none;
}