.music_player-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.controls-seeker {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seeker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  input {
    min-width: 400px;
  }

  > p {
    color: #b3b3b3;
    font-size: 10px;
    font-family: 'Montserrat',
    sans-serif;
  }
}

.details-wrapper {
  display: flex;
  align-items: center;
  width: 400px;
  color: white;
  margin-left: 20px;
  font-family: 'Montserrat',
  sans-serif;
}

.volume-ctrl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  height: 30px;
  width: 20%;

  a {
    color: #b3b3b3;
  }
}

.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50%;
  
  > a {
    margin-right: 10px;
    margin-left: 10px;
    color: #b3b3b3;
    border-color: #b3b3b3;
  }
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #616467;
  border-radius: 50%;
  margin-bottom: 10px;
}

.play-btn:hover {
  color: white;
  border-color: white;
  transform: scale(1.1) perspective(0.2px);
}


ctrl-btns {
  font-size: 16px;
  cursor: pointer;
}

.ctrl-btns:hover {
  color: white;
}

.volume-slider {
  margin-left: 5px;
}

.current-cover {
  height: 60px;
  width: 60px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
              0 2px 2px rgba(0, 0, 0, 0.11),
              0 4px 4px rgba(0, 0, 0, 0.11),
              0 8px 8px rgba(0, 0, 0, 0.11),
              0 16px 16px rgba(0, 0, 0, 0.11),
              0 32px 32px rgba(0, 0, 0, 0.11);
}

.seeker input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 26px;
  height: 4px;
  width: 80%;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgb(184, 183, 183);
  outline: none;
}

.volume-ctrl input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 26px;
  height: 4px;
  width: 100px;
  background-color: rgb(184, 183, 183);
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 5px;
  height: 5px;
}

.bars:hover input[type=range]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.track-details {
  margin-left: 10px;
}

#bars {
  background: linear-gradient(to right, #1DB954 0%, #1DB954 50%, #4e4e4e 50%, #4e4e4e 100%);
  border: solid 1px #4e4e4e;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#vol {
  background: linear-gradient(to right, #1DB954 0%, #1DB954 50%, #4e4e4e 50%, #4e4e4e 100%);
  border: solid 1px #4e4e4e;
  outline: none;
  width: 100px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.toggle-btn:hover {
  color: white;
}

#toggled-on {
  color:#1DB954;
}