.create-btn {
  background-color: #b3b3b3;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.create-btn:hover {
  background-color: white;
}

.create-playlist {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    margin-left: 20px;
    color: #b3b3b3;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }
}

.create-playlist>span:hover {
  color: white;
}


.playlist-index {
  height: 56vh;
  overflow: scroll;
}

.playlists-wrapper > h3 {
  margin-top: 10px;
  font-size: 12px;
}

.sidebar-line {
  background-color: #282828;
  border: none;
  border: none;
  height: 1px;
  min-height: 1px;
  margin-top: -5px;
  margin-bottom: 15px;
  width: 85%;
}

//custom context menu

.context-menu {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 60px;
  z-index: 10;
  > div {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 20px;
  }
}

.indiv-playlists {
  margin-bottom: 12px;
  font-weight: 300;
}

.indiv-playlists>h6:hover{
  color: white;
}

.playlist-details {
  display: flex;
  align-items: flex-end;
  margin-top: 120px;
  margin-left: 75px;

}

.cover-cluster {
  width: 225px;
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
  0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11),
  0 8px 8px rgba(0, 0, 0, 0.11),
  0 16px 16px rgba(0, 0, 0, 0.11),
  0 32px 32px rgba(0, 0, 0, 0.11);

  .indiv-playlist-img > img {
    height: 50%;
    width: 50%;
  }
}

.playlist-cover {
  width: 225px;
  height: 225px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
  0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11),
  0 8px 8px rgba(0, 0, 0, 0.11),
  0 16px 16px rgba(0, 0, 0, 0.11),
  0 32px 32px rgba(0, 0, 0, 0.11);
}

.detail-content {
  color: white;
  width: 60%;
}

.detail-lower {
  display: flex;
  justify-content: space-between;
}

.playlist-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playlist-content {
  padding-bottom: 20px;
}

.song-title {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
  
  > h3 {
    margin-bottom: 10px;
  }

  :last-child {
    margin-bottom: -5px;
    color: #b3b3b3;
  }
}


.playlist-song-info {
  display: flex;
  align-items: center;
  height: 54px;
  color: #b3b3b3;
  width: 90%;
  
  > a {
    width: 50px;
    color: #b3b3b3;
  }
}

.playlist-song-labels {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
  margin-top: 30px;
  position: sticky;

  .song-id {
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-size: 13px;
    margin-left: 38px;
  }

  div>p {
    color: #b3b3b3;
  }

  .playlist-album {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 13px;
    width: 13%;
  }

}

.playlist-show-wrapper {
  font-family: 'Montserrat',
  sans-serif;
}


.playlist-info {
  display: flex;

  > span {
    margin-right: 5px;
  }

  > p {
    margin-right: 5px;
  }

  .user-email {
    color: #b3b3b3;
  }
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.gray {
  color: #b3b3b3;
}

.dropdown {
  position: relative;

  > .dropdown-dots {
    margin-right: 10px;
    z-index: 0
  }

  > .dropdown-dots:hover {
    color: #fff;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.selected {
  display: block;
  position: absolute;
  width: 150px;
  right: 5px;
  top: 15px;
  background-color: #282828;
  border: 1px solid black;
  border-radius: 5px;
  color: #b3b3b3;
  z-index: 1;
  overflow: hidden;
  animation-name: fade-in;
  animation-duration: 0.3s;
  padding: 10px;
  user-select: none;

  > ul {
    height: 150px;
    overflow-y: scroll;
  }

  > li {
    border-bottom: 0.5px solid #b3b3b3;
  }

  > ul li {
    border-bottom: 0.5px solid #b3b3b3;
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.selected>ul li:hover {
  background-color: #4b4949;
  border-radius: 5px;
}

.no-songs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50vh;
  margin-left: 75px;
  font-size: 36px;
  color: #b3b3b3;
}
